@model FormViewModel
@{
    ViewData["Title"] = "Create";
}

<h1 style="color:aliceblue;font-weight:bold;"> Create a New Admission</h1>
<style>
    .container{
        border: 1px solid;
    }
</style>

<body class="container" style="background-image: linear-gradient(rgba(1,1,1,0.4),rgba(3,9,20,0.7)),url(https://images.unsplash.com/photo-1614620026694-f5f38182ab9f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGxpYnJhcnklMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);color:aliceblue;font-weight:bold;">
<form asp-controller="AdmissionForm" asp-action="Create" method="post">
    <div class="row">
        <div class="col-md-4">
            <div class="mb-2">
                <label asp-for="FirstName" class="form-label"></label>
                <input type="text" asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName"></span>
            </div>
            <div class="mb-2">
                <label asp-for="LastName" class="form-label"></label>
                <input type="text" asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName"></span>
            </div>
            <div class="mb-2">
                <label asp-for="FatherName" class="form-label"></label>
                <input type="text" asp-for="FatherName" class="form-control" />

                <span asp-validation-for="FatherName"></span>
            </div>
            <div class="mb-2">
                <label asp-for="MotherName" class="form-label"></label>
                <input type="text" asp-for="MotherName" class="form-control" />
                <span asp-validation-for="MotherName"></span>
            </div>
            <div class="mb-2">
                <label asp-for="EmailId" class="form-label"></label>
                <input type="text" asp-for="EmailId" class="form-control" />
                <span asp-validation-for="EmailId"></span>
            </div>
            <div class="mb-2">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input type="text" asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber"></span>
            </div>
            <div class="mb-2">
                <label asp-for="DateOfBirth" class="form-label"></label>
                <input type="date" asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Gender" class="form-label"></label>
                <select asp-for="Gender" class="form-control">
                    <option value="">---Select---</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                </select>
            </div>
            <div class="mb-2">
                <label asp-for="City" class="form-label"></label>
                <input type="text" asp-for="City" class="form-control" />
                <span asp-validation-for="City"></span>
            </div>
            <div class="mb-2">
                <label asp-for="State" class="form-label"></label>
                <select asp-for="State" class="form-control">
                    <option value="">---Select---</option>
                    <option value="1">Telangana</option>
                    <option value="2">Andhra Pradesh</option>
                    <option value="3">Maharastra</option>
                    <option value="4">Delhi</option>
                    <option value="5">Kerala</option>
                </select>
            </div>
            <div class="mb-2">
                <label asp-for="Address" class="form-label"></label>
                <input type="text" asp-for="Address" class="form-control" />
                <span asp-validation-for="Address"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Qualification" class="form-label"></label>
                <select asp-for="Qualification" class="form-control">
                    <option value="">---Select---</option>
                    <option value="1">Inter</option>
                    <option value="2">Diploma</option>
                </select>
            </div>
            <div class="mb-2">
                <label asp-for="EntranceTestScore" class="form-label"></label>
                <input type="text" asp-for="EntranceTestScore" class="form-control" />
                <span asp-validation-for="EntranceTestScore"></span>
            </div>
            <div class="mt-2 d-grid">
                <input type="submit" class="btn btn-primary" value="Add New" />
            </div>
        </div>
    </div>
</form>
</body>

