@model IEnumerable<CourseViewModel>
@{
    ViewData["Title"] = "AllCourses";
} 
<h1>Index</h1>
<div class="row">
    <div class="col-md-7">
        <div class="row">
            <div class="col">
                <h2>List of Courses</h2>
            </div>
            <div class="col text-end">
                <a asp-controller="Courses" asp-action="Create" class="btn btn-warning">Create new Customer</a>
            </div>
        </div>
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>CourseName</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CourseName</td>

                            <td>
                                <a asp-controller="Courses" asp-action="Update" asp-route-id="@item.CourseId">Edit</a>
                                <a asp-controller="Courses" asp-action="Details" asp-route-id="@item.CourseId">Details</a>
                                <a asp-controller="Courses" asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

