@model IEnumerable<CourseViewModel>
@{
    ViewData["Title"] = "Course";
}
<body style="background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://thumbs.dreamstime.com/b/education-school-university-books-college-classes-16441446.jpg);background-repeat:no-repeat; background-size:cover;">
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col">
                    <h1 style="color:chocolate;font-weight:bold">Courses</h1>                    
                </div>                
            </div>            
        </div>        
    </div>
</body> 
<div class="row offset-2 pt-4">
    <div class="col-md-9">
        <table class="table table-hover border-2">
                <tr>
                    <th style="color:white; font-weight:bold" scope="col"><b>Course Name</b></th>
                </tr>                
            <tbody>
                @foreach (var item in Model)
                { 
                    <tr class="table-dark">
                       <td style="color:Black"><b>@item.CourseName</b></td>
                        @*<td class="pl-3"><a asp-controller="Courses" asp-action="Details" asp-route-id="@item.CourseId" class="btn btn-light">Details</a></td>*@
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <a asp-controller="Courses" asp-action="AllCourses" style="color:white">Back to List</a>
        </div>
    </div>    
</div>
