@model FileViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Add Image</h1>


<h1>UploadFile</h1>
    <form asp-controller="FileUpload" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" name="File" class="form-control-file"  multiple />
    </div>
    <button type="submit" class="btn btn-danger">Upload</button>
</form>